body {
  font-family: "Open Sans";
}

#main {
  margin: 10px 20px;
}

.hovered {
  opacity: 1;
  fill: antiquewhite;
}

.selected {
  opacity: 1 ;
  stroke: black !important;
  stroke-width: 2px !important;
}


